

$active_background: #116cd6;
$icon_border_radius:  5px;

ul.tweet * {
  cursor: auto;
  -webkit-user-drag: text;
  -webkit-user-select: text;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

div.pane.tweet {
  color: #DDD;
  background-color: #222;    
}

img.tweet.icon {
  border-radius: $icon_border_radius;
}

div.tweetBox {
  
  position: relative;
  
  div.activeAccountIconDiv {

    display: inline-block;
    position: absolute;
    top:      8px;
    left:     8px;
    width:    32px;
    height:   32px;
    border-radius: $icon_border_radius;
    background-color: #000;
   
    img.activeAccountIcon {
      margin:0;
      padding:0;
      width:    32px;
      height:   32px;
      border:   lightgray 1px solid;     

      &:hover {
        opacity: 0.7;
      }
    }
  }
  
  textarea.tweetText {
    width: 100%;
    padding-left: 46px;
  }
  
}


ul.tweet {
  background-color: #222;  

  li.active {
    background-color: $active_background !important;
  }

  li.normal {
    background-color: transparent;
  }

  li.mention {
    color: #DDD;
    background-color: #590000;
  }
}


.tweet.datetime {
  position: absolute; top: 0; right: 0;
}

div.tweet.text {
  word-break: break-all;
  text-overflow: initial;
  white-space: normal;
}

div.tabGroup {
  display: inline;
}
select.tabGroup {
  height: 1vw;
}