ul.tweet * {
  cursor: auto;
  -webkit-user-drag: text;
  -webkit-user-select: text;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white; }

div.pane.tweet {
  color: #DDD;
  background-color: #222; }

img.tweet.icon {
  border-radius: 5px; }

div.tweetBox {
  position: relative; }
  div.tweetBox div.activeAccountIconDiv {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #000; }
    div.tweetBox div.activeAccountIconDiv img.activeAccountIcon {
      margin: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      border: lightgray 1px solid; }
      div.tweetBox div.activeAccountIconDiv img.activeAccountIcon:hover {
        opacity: 0.7; }
  div.tweetBox textarea.tweetText {
    width: 100%;
    padding-left: 46px; }

ul.tweet {
  background-color: #222; }
  ul.tweet li.active {
    background-color: #116cd6 !important; }
  ul.tweet li.normal {
    background-color: transparent; }
  ul.tweet li.mention {
    color: #DDD;
    background-color: #590000; }

.tweet.datetime {
  position: absolute;
  top: 0;
  right: 0; }

div.tweet.text {
  word-break: break-all;
  text-overflow: initial;
  white-space: normal; }

div.tabGroup {
  display: inline; }

select.tabGroup {
  height: 1vw; }

